.map{
  /* height: 600px; */
  position: fixed;
  z-index: -1;
  width: 60%;
}


.path {
  stroke-dasharray: 1800;
  /* stroke-dashoffset: 1800; */
  animation: dash 5s linear;
}

@keyframes dash {
  from {
    /* stroke-dashoffset: var(--theNumber); */
    stroke-dashoffset: 80%;

  }
  to {
    stroke-dashoffset:0;
  }
}

.btn {
  background-color: var(--btn-bg-color);
  color: var(--btn-color);
  
  padding: 15px 30px;
  border: none;
  cursor: pointer;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding-top: 20px;
}

p {
  font-size: 40px;
  font-weight: 100;
}

article{
  padding: 20px;
}

h2 {
  color: red;
}